*,
::after,
::before {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Avenir' , sans-serif;
     background-color: #dcf7f3;
     color: #805841;
     line-height: 1.5;
     font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

nav {
    background: #f5a2a2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.nav-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    font-size 1.5rem;
    color: #805841;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
}
.nav-toggle:hover {
    transform: rotate(90deg);
    color: #dcf7f3;
}
.links {
    /* Important to add */
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.links a {
    padding: 0.5rem 1rem;
    color: #805841;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    transition: all 0.3s linear;
}
.links a:hover {
    padding-left: 1.5rem;
    color: #dcf7f3;
}

.social-icons {
    display: none;
}

/* By Default Hide Links */
.links {
     height: 0;
    overflow:hidden;
    transition: all 0.3s linear; 
}

/* Toggle Class */
.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }
    .links a:hover {
        padding: 0;
        background: transparent;
        color: #dcf7f3;
    }
    .social-icons {
        display: flex;
    }
    .social-icons a {
        margin: 0 0.5rem;
        color: #805841;
        transition: all 0.3s linear;
    }
    .social-icons a:hover {
        color: #dcf7f3;
    }
}
